<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% with messages = get_flashed_messages()%}
    {% if messages%}
    <ul>
        {% for message in messages%}
        <li>{{ message}}</li>
        {% endfor%}
    </ul>
    {% endif%}
    {% endwith %}

    <div class="menu">
        <div class="menu_button_1">Войти</div>
        <div class="menu_button">Магазин</div>
        <div class="menu_button">Кликер</div>
        <div class="menu_button">Профиль</div>

    </div>


    {% block content %}

    {% endblock %}
</body>
</html>